In [1]:
# imports
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
import datetime
#pd.set_option('display.max_rows', None)

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

import seaborn as sns
import matplotlib.pyplot as plt

# А заодно установим стиль графиков, что бы улучшить их восприятие:
sns.set(style="ticks")

import warnings
warnings.filterwarnings("ignore")

In [2]:
import sklearn
sklearn.show_versions()

System:
    python: 3.10.11 (tags/v3.10.11:7d4cc5a, Apr  5 2023, 00:38:17) [MSC v.1929 64 bit (AMD64)]
executable: C:\Users\alex\AppData\Local\Programs\Python\Python310\python.exe
   machine: Windows-10-10.0.19044-SP0

Python dependencies:
      sklearn: 1.2.2
          pip: 23.0.1
   setuptools: 65.5.0
        numpy: 1.23.1
        scipy: 1.9.0
       Cython: None
       pandas: 2.0.0
   matplotlib: 3.5.1
       joblib: 1.2.0
threadpoolctl: 3.1.0

Built with OpenMP: True

threadpoolctl info:
       user_api: blas
   internal_api: openblas
         prefix: libopenblas
       filepath: C:\Users\alex\AppData\Local\Programs\Python\Python310\Lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
        version: 0.3.20
threading_layer: pthreads
   architecture: Zen
    num_threads: 12

       user_api: openmp
   internal_api: openmp
         prefix: vcomp
       filepath: C:\Users\alex\AppData\Local\Programs\Python\Python310\Lib\site-packages\sklearn\.libs\vcomp140.dll
        version: None
    num_threads: 12

       user_api: blas
   internal_api: openblas
         prefix: libopenblas
       filepath: C:\Users\alex\AppData\Local\Programs\Python\Python310\Lib\site-packages\scipy\.libs\libopenblas.PZA5WNOTOH6FZLB2KBVKAURAKVTFSNNU.gfortran-win_amd64.dll
        version: 0.3.18
threading_layer: pthreads
   architecture: Zen
    num_threads: 12

In [4]:
# чтение и обработка данных
colls = ['timestamp','date']
def read_data(path: str, colls: list = colls) -> pd.DataFrame:
    df = pd.read_csv(path, parse_dates=[colls[0]])
    # раскручиваем дату
    df['hour']=df[colls[0]].dt.hour # час
    df['min'] = df[colls[0]].dt.minute #  
    df['day']=df[colls[0]].dt.day  # число месяца
    df['month'] = df[colls[0]].dt.month
    df['dayofweek']=df[colls[0]].dt.weekday  # день недели
    df[colls[1]]= df[colls[0]].dt.date # дата
     
    return df.drop([colls[0]], axis = 1)

test = read_data('test.csv')
train = read_data('train.csv')
train.head(3)

   row_id  user_id  gate_id  hour  min  day  month  dayofweek        date
0       0       18        7     9    8   29      7          4  2022-07-29
1       1       18        9     9    9   29      7          4  2022-07-29
2       2       18        9     9    9   29      7          4  2022-07-29

### Q1. Постройте логистическую регрессию,
- оптимизатор liblinear,
- остальные параметры дефолтные, на 6 признаках: 
- - ['gate_id', 'hour', 'min', 'day', 'month','dayofweek']
- Признаки делаем из "ts", в частности "min" - это минуты из времени. Используем масштабирование StandardScaler.

  
Каково будет качество на обучающей выборке и на валидации (округлите до целых и выберите ближайший ответ). 10 баллов.

In [5]:
# разобъём трайн на две выборки в качестве val выбираем ноябрь- декабрь
limit = datetime.datetime.strptime('2022-11-01', '%Y-%m-%d').date()
train_train = train[train['date']<limit]
train_val = train[train['date']>=limit]
# выделяем X y
y_tr = train_train['user_id']
y_val = train_val['user_id']
X_tr = train_train.drop(['row_id', 'user_id', 'date'], axis = 1)
X_val = train_val.drop(['row_id', 'user_id', 'date'], axis = 1)
print (X_tr.shape)
X_tr.head()

(26834, 6)

   gate_id  hour  min  day  month  dayofweek
0        7     9    8   29      7          4
1        9     9    9   29      7          4
2        9     9    9   29      7          4
3        5     9   10   29      7          4
4        5     9   10   29      7          4

In [6]:
scaler = StandardScaler()
X_tr = scaler.fit_transform(X_tr)
X_val = scaler.transform(X_val)

clf = LogisticRegression( solver='liblinear')

clf.fit(X_tr, y_tr)
print(f'train accuracy {accuracy_score(y_tr, clf.predict(X_tr ))}') 
print(f'val accuracy {accuracy_score(y_val, clf.predict(X_val ))}')

train accuracy 0.09666840575389431
val accuracy 0.04782852864095844

### Q2: Постройте логистическую регрессию на дефолтных параметрах, но
**random_state=1, solver=saga**
- и 13 признаках:
- 'gate_id', 'hour', 'min', 'day', 'month', 
- 'dayofweek',
- 'Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'
-  Используем масштабирование StandardScaler.

In [7]:
train_q2=pd.concat([train,  pd.get_dummies(train[['dayofweek']], columns=['dayofweek'], drop_first=False)], axis=1)
# разобъём трайн на две выборки в качестве val выбираем ноябрь- декабрь 
limit = datetime.datetime.strptime('2022-11-01', '%Y-%m-%d').date()
train_train = train_q2[train['date']<limit]
train_val = train_q2[train['date']>=limit]
# выделяем X y
y_tr = train_train['user_id']
y_val = train_val['user_id']
X_tr = train_train.drop(['row_id', 'user_id', 'date'], axis = 1)
X_val = train_val.drop(['row_id', 'user_id', 'date'], axis = 1)
print (X_tr.shape)
X_tr.head()

(26834, 13)

,gate_id,hour,min,day,month,dayofweek,dayofweek_0,dayofweek_1,dayofweek_2,dayofweek_3,dayofweek_4,dayofweek_5,dayofweek_6
0,7,9,8,29,7,4,False,False,False,False,True,False,False
1,9,9,9,29,7,4,False,False,False,False,True,False,False
2,9,9,9,29,7,4,False,False,False,False,True,False,False
3,5,9,10,29,7,4,False,False,False,False,True,False,False
4,5,9,10,29,7,4,False,False,False,False,True,False,False

In [8]:
scaler = StandardScaler()

X_tr = scaler.fit_transform(X_tr)
X_val = scaler.transform(X_val)

clf = LogisticRegression(random_state=1, solver='saga')

clf.fit(X_tr, y_tr)
print(f'train accuracy {accuracy_score(y_tr, clf.predict(X_tr ))}') 
print(f'val accuracy {accuracy_score(y_val, clf.predict(X_val ))}')

train accuracy 0.10523962137586644
val accuracy 0.04689254960688881

**Качество на валидации будет лучше, чем у регрессии в Q1**
**нет, немного хуже**
### Качество регрессии Q2  на валидации 0.04689254960688881

In [9]:
# Регрессия без признака 'Sunday' будет хуже на валидационной выборке -  да
clf.fit(X_tr[:,:-1], y_tr)
print(f'train accuracy {accuracy_score(y_tr, clf.predict(X_tr[:,:-1] ))}') 
print(f'val accuracy {accuracy_score(y_val, clf.predict(X_val[:,:-1] ))}')

train accuracy 0.10523962137586644
val accuracy 0.04679895170348184

In [12]:
# Регуляризация "elasticnet 0.5" хуже дефолтной - нет
clf = LogisticRegression(random_state=1, solver='saga')
clf.fit(X_tr, y_tr)
print(f'train accuracy {accuracy_score(y_tr, clf.predict(X_tr ))}') 
print(f'default val accuracy {accuracy_score(y_val, clf.predict(X_val ))}') 
clf = LogisticRegression(random_state=1, solver='saga', penalty='elasticnet', l1_ratio=0.5)
clf.fit(X_tr, y_tr)
print(f'train accuracy {accuracy_score(y_tr, clf.predict(X_tr ))}') 
print(f'elasticnet 0.5 val accuracy {accuracy_score(y_val, clf.predict(X_val ))}')

train accuracy 0.10523962137586644
default val accuracy 0.04689254960688881
train accuracy 0.10542595215025714
elasticnet 0.5 val accuracy 0.04689254960688881

### Q3. Отметьте все правильные ответы для регрессии из Q2. 10 баллов

In [29]:
# Регуляризация "l1" помогает при некоторых оптимизаторах - нет
solvers =  ['lbfgs', 'liblinear', 'newton-cg', 'newton-cholesky', 'sag', 'saga']
for solver in solvers:
    print('\nsolver  ', solver)
    try:
        clf = LogisticRegression(random_state=1, solver=solver, penalty='l1')
        clf.fit(X_tr, y_tr)
        print(f'with l1 val accuracy {accuracy_score(y_val, clf.predict(X_val ))}')
        clf = LogisticRegression(random_state=1, solver=solver)
        clf.fit(X_tr, y_tr)
        print(f'without l1 val accuracy {accuracy_score(y_val, clf.predict(X_val ))}')
    except:
        print('С этим оптимизатором L1 не работает.')

solver   lbfgs
С этим оптимизатором L1 не работает.

solver   liblinear
with l1 val accuracy 0.04623736428304006
without l1 val accuracy 0.04745413702733059

solver   newton-cg
С этим оптимизатором L1 не работает.

solver   newton-cholesky
С этим оптимизатором L1 не работает.

solver   sag
С этим оптимизатором L1 не работает.

solver   saga
with l1 val accuracy 0.04633096218644702
without l1 val accuracy 0.04689254960688881

In [13]:
# "Multinomial" подход не хуже, а часто лучше "One-vs-rest ? " иногда да
solvers = ['lbfgs', 'liblinear', 'newton-cg', 'newton-cholesky', 'sag', 'saga']
multi_classes = [ 'multinomial', 'ovr']
for solver in solvers:
    print('\nsolver  ', solver)
    try:
        for multi_class in multi_classes:
            print('\nmulti_class ', multi_class)
            clf = LogisticRegression(random_state=1, solver=solver, multi_class=multi_class)
            clf.fit(X_tr, y_tr)
            print(f'\tval accuracy {accuracy_score(y_val, clf.predict(X_val ))}')
    except:
        print('С этим оптимизатором multinomial не работает.')

solver   lbfgs

multi_class  multinomial
	val accuracy 0.04689254960688881

multi_class  ovr
	val accuracy 0.0461437663796331

solver   liblinear

multi_class  multinomial
С этим оптимизатором multinomial не работает.

solver   newton-cg

multi_class  multinomial
	val accuracy 0.04661175589666791

multi_class  ovr
	val accuracy 0.0461437663796331

solver   newton-cholesky

multi_class  multinomial
С этим оптимизатором multinomial не работает.

solver   sag

multi_class  multinomial
	val accuracy 0.04670535380007488

multi_class  ovr
	val accuracy 0.0461437663796331

solver   saga

multi_class  multinomial
	val accuracy 0.04689254960688881

multi_class  ovr
	val accuracy 0.04670535380007488

In [16]:
# Признак 'dayofweek' не улучшает качество модели    -   нет улучшает
# найдём результат регрессии без признака 
train_q2=pd.get_dummies(train, columns=['dayofweek'], drop_first=False)
# разобъём трайн на две выборки в качестве val выбираем декабрь 
limit = datetime.datetime.strptime('2022-11-01', '%Y-%m-%d').date()
train_train = train_q2[train['date']<limit]
train_val = train_q2[train['date']>=limit]
# выделяем X y
y_tr = train_train['user_id']
y_val = train_val['user_id']
X_tr = train_train.drop(['row_id', 'user_id', 'date'], axis = 1)
X_val = train_val.drop(['row_id', 'user_id', 'date'], axis = 1)
X_tr.head(3)

,gate_id,hour,min,day,month,dayofweek_0,dayofweek_1,dayofweek_2,dayofweek_3,dayofweek_4,dayofweek_5,dayofweek_6
0,7,9,8,29,7,False,False,False,False,True,False,False
1,9,9,9,29,7,False,False,False,False,True,False,False
2,9,9,9,29,7,False,False,False,False,True,False,False

In [18]:
X_tr = scaler.fit_transform(X_tr)
X_val = scaler.transform(X_val)

clf = LogisticRegression(random_state=1, solver='saga', penalty='l1')
clf.fit(X_tr, y_tr)
print(f'train accuracy {accuracy_score(y_tr, clf.predict(X_tr ))}') 
print(f'val accuracy {accuracy_score(y_val, clf.predict(X_val ))}')   # 0.046892549606888816

train accuracy 0.10516508906611016
val accuracy 0.0461437663796331

**Качество регрессии Q2  без признака dayofweek на валидации 0.0461437663796331,**  
**что хуже чем 0.04689254960688881, т.е dayofweek - улучшает.**

### Q4. Постройте логистическую регрессию на дефолтных параметрах и 33 признаках:
-      'gate_-1', 'gate_0', 'gate_1',
-      'gate_3', 'gate_4', 'gate_5', 'gate_6', 'gate_7', 'gate_8', 'gate_9',
-      'gate_10', 'gate_11', 'gate_12', 'gate_13', 'gate_14', 'gate_15',
-      'gate_16',
- 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday',
- 'month_7', 'month_8',
-  'month_9', 'month_10', 'month_11', 'month_12',
- 'hour', 'min', 'day'
- Используем масштабирование StandardScaler.

In [19]:
train_dum=pd.get_dummies(train, columns=['gate_id','dayofweek', 'month'], drop_first=False)
train_dum

,row_id,user_id,hour,min,day,date,gate_id_-1,gate_id_0,gate_id_1,gate_id_3,...,dayofweek_3,dayofweek_4,dayofweek_5,dayofweek_6,month_7,month_8,month_9,month_10,month_11,month_12
0,0,18,9,8,29,2022-07-29,False,False,False,False,...,False,True,False,False,True,False,False,False,False,False
1,1,18,9,9,29,2022-07-29,False,False,False,False,...,False,True,False,False,True,False,False,False,False,False
2,2,18,9,9,29,2022-07-29,False,False,False,False,...,False,True,False,False,True,False,False,False,False,False
3,3,18,9,10,29,2022-07-29,False,False,False,False,...,False,True,False,False,True,False,False,False,False,False
4,4,18,9,10,29,2022-07-29,False,False,False,False,...,False,True,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37513,37513,6,20,38,31,2022-12-31,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True
37514,37514,6,20,39,31,2022-12-31,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True
37515,37515,6,20,39,31,2022-12-31,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True
37516,37516,6,20,39,31,2022-12-31,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True
37517,37517,6,20,39,31,2022-12-31,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True

In [20]:
# разобъём трайн на две выборки в качестве val выбираем ноябрь- декабрь 
limit = datetime.datetime.strptime('2022-11-01', '%Y-%m-%d').date()
train_train = train_dum[train['date']<limit]
train_val = train_dum[train['date']>=limit]
# выделяем X y
y_tr = train_train['user_id']
y_val = train_val['user_id']
X_tr = train_train.drop(['row_id', 'user_id', 'date'], axis = 1)
X_val = train_val.drop(['row_id', 'user_id', 'date'], axis = 1)
X_tr

,hour,min,day,gate_id_-1,gate_id_0,gate_id_1,gate_id_3,gate_id_4,gate_id_5,gate_id_6,...,dayofweek_3,dayofweek_4,dayofweek_5,dayofweek_6,month_7,month_8,month_9,month_10,month_11,month_12
0,9,8,29,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,False,False,False
1,9,9,29,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,False,False,False
2,9,9,29,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,False,False,False
3,9,10,29,False,False,False,False,False,True,False,...,False,True,False,False,True,False,False,False,False,False
4,9,10,29,False,False,False,False,False,True,False,...,False,True,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26829,21,15,31,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
26830,21,15,31,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,True,False,False
26831,21,15,31,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,True,False,False
26832,21,15,31,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
26833,21,15,31,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [21]:
scaler = StandardScaler()

X_tr = scaler.fit_transform(X_tr)
X_val = scaler.transform(X_val)

clf = LogisticRegression(random_state=1)

clf.fit(X_tr, y_tr)
print(f'train accuracy {accuracy_score(y_tr, clf.predict(X_tr ))}') 
print(f'val accuracy {accuracy_score(y_val, clf.predict(X_val ))}')

train accuracy 0.14641872251621077
val accuracy 0.07403594159490827

In [29]:
# В валидационной выборке больше 700 истинных предсказаний - да
X_val.shape[0]*0.07403594159490827

791.0

In [38]:
# Оптимизатор saga дает такое же качество как lbfgs - нет , разница в 4 знаке
for solver in ['lbfgs', 'saga']:
    print(f'\n solver  {solver}\n')
    clf = LogisticRegression(random_state=1, solver = solver)

    clf.fit(X_tr, y_tr)
    print(f'\ttrain accuracy {accuracy_score(y_tr, clf.predict(X_tr ))}') 
    print(f'\tval accuracy {accuracy_score(y_val, clf.predict(X_val ))}')

 solver  lbfgs

	train accuracy 0.14641872251621077
	val accuracy 0.07403594159490827

 solver  saga

	train accuracy 0.14451814861742565
	val accuracy 0.07366154998128042

In [23]:
# user1 чаще всего приходит в четверг нет
train_train.drop(['row_id', 'user_id', 'date'], axis = 1).columns[20:27]

Index(['dayofweek_0', 'dayofweek_1', 'dayofweek_2', 'dayofweek_3',
       'dayofweek_4', 'dayofweek_5', 'dayofweek_6'],
      dtype='object')

In [24]:
# колонка с четвергом находится по  индексу 23
train_train.drop(['row_id', 'user_id', 'date'], axis = 1).columns[23]

'dayofweek_3'

In [25]:
# классы юзеров
clf.classes_

array([ 0,  1,  3,  4,  5,  6,  7,  8,  9, 11, 12, 14, 15, 17, 18, 19, 20,
       22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 39, 40,
       42, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57], dtype=int64)

In [26]:
# получим веса обученной модели 
# у юзера 1 вес 0,07 явно он не чаще всех появлялся по четвергам
с4=clf.coef_[:,23]
с4

array([ 0.13891543,  0.0700454 ,  0.0763152 , -0.10037182, -0.15005925,
        0.09743501, -0.37066149, -0.26057006,  0.13327653,  0.11710246,
        0.04980754,  0.12453285,  0.20628669,  0.06980511,  0.04243631,
        0.03462776, -0.01157117,  1.21514926,  0.01976198, -0.08320393,
        0.17492895, -1.16629743,  0.13162615,  1.95587997,  0.12166607,
        0.01766995,  0.04836889,  0.07604681, -1.28244426,  0.33085216,
       -0.86932256,  0.09418704,  0.118291  , -0.34550751,  0.07885408,
       -1.18403506, -0.1142736 ,  0.04482855,  0.05564381, -0.0164744 ,
        0.13994805, -0.17164557,  0.08811778,  0.07229238,  0.20819841,
       -0.13540096,  0.10894145])

In [27]:
limit

datetime.date(2022, 11, 1)

#### Т.к. сомнения остаются проверим другим способом

In [28]:
# чаще всех в четверг на работе бывает юзер 37
df_temp = train[train['date']<limit]
df_temp[df_temp['dayofweek']==3].groupby([ 'user_id']).agg({
    'row_id': 'count'
}).sort_values(by='row_id', ascending=False )

         row_id
user_id
37          345
55          327
15          309
6           297
18          290
19          273
12          267
53          253
47          228
11          199
9           185
0           169
50          164
29          158
39          157
33          151
1           140
3           137
49          130
32          126
54          125
27          123
48          121
57          104
14           86
42           81
28           64
46           39
25           38
17           36
31           26
22           23
35           15
40           14
20           13
56            8
24            7
23            4

In [29]:
# чаще всего user_1 посещает работу в пятницу
df_temp =train[train['date']<limit]
df_temp[df_temp['user_id']==1].groupby([ 'dayofweek']).agg({
    'row_id': 'count'
}).sort_values(by='row_id', ascending=False )

           row_id
dayofweek
4             169
1             150
0             149
3             140
2             123
5              11

### Q5. Для регрессии из Q4 с оптимизатором saga при random_state=1 отметьте все правильные ответы. 10 баллов.

In [31]:
# по сравнению с другими юзерами, user1 любит приходить в субботу и не любит приходить в воскресенье  да
# cols = ['user_id', 'dayofweek_5', 'dayofweek_6']
# df = train_dum[cols]
df_temp = train_dum[train['date']<limit]
df= df_temp.groupby('user_id').agg({
    'dayofweek_5': 'sum',
    'dayofweek_6': 'sum',
})
df['like_5']= df['dayofweek_5']/(df['dayofweek_5']+df['dayofweek_6'])
df.sort_values(by=['like_5', 'dayofweek_5'], ascending=False ).head()

         dayofweek_5  dayofweek_6  like_5
user_id
37                14            0     1.0
1                 11            0     1.0
3                 11            0     1.0
6                 11            0     1.0
12                11            0     1.0

In [32]:
# больше всего заходов предсказали у user55

# разобъём трайн на две выборки в качестве val выбираем ноябрь- декабрь 
limit = datetime.datetime.strptime('2022-11-01', '%Y-%m-%d').date()
train_train = train_dum[train['date']<limit]
train_val = train_dum[train['date']>=limit]
# выделяем X y
y_tr = train_train['user_id']
y_val = train_val['user_id']
X_tr = train_train.drop(['row_id', 'user_id', 'date'], axis = 1)
X_val = train_val.drop(['row_id', 'user_id', 'date'], axis = 1)

scaler = StandardScaler()

X_tr = scaler.fit_transform(X_tr)
X_val = scaler.transform(X_val)

clf = LogisticRegression(random_state=1, solver = 'saga')

clf.fit(X_tr, y_tr)

train_val['y_pred'] = clf.predict(X_val)

In [33]:
train_val.groupby('y_pred').agg({
    'row_id': 'count'
}).sort_values(by='row_id', ascending=False )

        row_id
y_pred
37        2113
12        1942
15        1872
55        1808
27         478
47         476
18         435
49         342
53         339
19         304
32         143
1          125
33          71
3           52
26          49
0           33
24          23
14          18
46          16
39          14
34          10
25           5
56           4
36           4
29           3
50           2
4            2
6            1

####  больше всего заходов предсказали юзеру 37 - 2113

In [34]:
# среди всех предсказанных хуже всего предсказали user39, если оценивать по доле правильно предсказанных заходов
# - нет есть юзеры с худшими результатами результатами
# -  precision это ясно показывает

from sklearn.metrics import classification_report
#target_names = ['class 0', 'class 1', 'class 2']
print(classification_report(train_val['user_id'], train_val['y_pred']))    #, target_names=target_names))

              precision    recall  f1-score   support

           0       0.06      0.00      0.01       456
           1       0.28      0.06      0.10       557
           2       0.00      0.00      0.00        39
           3       0.31      0.06      0.09       286
           4       0.00      0.00      0.00         0
           5       0.00      0.00      0.00         6
           6       0.00      0.00      0.00       571
           8       0.00      0.00      0.00        14
           9       0.00      0.00      0.00       238
          10       0.00      0.00      0.00        17
          11       0.00      0.00      0.00       363
          12       0.06      0.23      0.10       519
          14       0.00      0.00      0.00       316
          15       0.06      0.25      0.10       459
          17       0.00      0.00      0.00       482
          18       0.00      0.05      0.01        37
          19       0.08      0.06      0.07       375
          21       0.00      0.00      0.00         5
          22       0.00      0.00      0.00        29
          23       0.00      0.00      0.00       204
          24       0.22      0.03      0.05       191
          25       0.00      0.00      0.00        81
          26       0.12      0.07      0.09        83
          27       0.00      0.00      0.00         8
          29       0.00      0.00      0.00       246
          30       0.00      0.00      0.00        10
          31       0.00      0.00      0.00         1
          32       0.02      0.01      0.01       430
          33       0.11      0.02      0.03       487
          34       0.00      0.00      0.00        14
          35       0.00      0.00      0.00       523
          36       0.00      0.00      0.00        16
          37       0.08      0.26      0.12       613
          38       0.00      0.00      0.00        13
          39       0.14      0.00      0.01       405
          41       0.00      0.00      0.00       124
          43       0.00      0.00      0.00       124
          44       0.00      0.00      0.00         4
          46       0.25      0.02      0.04       179
          47       0.00      0.00      0.00        89
          48       0.00      0.00      0.00        85
          49       0.10      0.08      0.09       427
          50       0.00      0.00      0.00       291
          51       0.00      0.00      0.00         3
          53       0.00      0.00      0.00        14
          54       0.00      0.00      0.00       388
          55       0.14      0.31      0.19       796
          56       0.00      0.00      0.00        58
          57       0.00      0.00      0.00         8

    accuracy                           0.07     10684
   macro avg       0.04      0.03      0.02     10684
weighted avg       0.07      0.07      0.05     10684

### Q6. Постройте логистическую регрессию на дефолтных параметрах и 50 признаках:
  - 'gate_-1', 'gate_0', 'gate_1', 'gate_3', 'gate_4', 'gate_5', 'gate_6', 'gate_7', 'gate_8', 'gate_9',
  - 'gate_10', 'gate_11', 'gate_12', 'gate_13', 'gate_14', 'gate_15', 'gate_16',
  - 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday',
  - 'month_7', 'month_8', 'month_9', 'month_10', 'month_11', 'month_12', 'hour_6',
  - 'hour_7', 'hour_8', 'hour_9', 'hour_10', 'hour_11', 'hour_12', 'hour_13', 'hour_14', 'hour_15',
  - 'hour_16', 'hour_17', 'hour_18', 'hour_19', 'hour_20', 'hour_21', 'hour_22', 'hour_23',
  - 'min', 'day'
  - Используем масштабирование StandardScaler.

In [35]:
train_dum=pd.get_dummies(train, columns=['gate_id','dayofweek', 'month', 'hour'], drop_first=False)
print (train_dum.columns)
train_dum.head()

Index(['row_id', 'user_id', 'min', 'day', 'date', 'gate_id_-1', 'gate_id_0',
       'gate_id_1', 'gate_id_3', 'gate_id_4', 'gate_id_5', 'gate_id_6',
       'gate_id_7', 'gate_id_8', 'gate_id_9', 'gate_id_10', 'gate_id_11',
       'gate_id_12', 'gate_id_13', 'gate_id_14', 'gate_id_15', 'gate_id_16',
       'dayofweek_0', 'dayofweek_1', 'dayofweek_2', 'dayofweek_3',
       'dayofweek_4', 'dayofweek_5', 'dayofweek_6', 'month_7', 'month_8',
       'month_9', 'month_10', 'month_11', 'month_12', 'hour_6', 'hour_7',
       'hour_8', 'hour_9', 'hour_10', 'hour_11', 'hour_12', 'hour_13',
       'hour_14', 'hour_15', 'hour_16', 'hour_17', 'hour_18', 'hour_19',
       'hour_20', 'hour_21', 'hour_22', 'hour_23'],
      dtype='object')

,row_id,user_id,min,day,date,gate_id_-1,gate_id_0,gate_id_1,gate_id_3,gate_id_4,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,0,18,8,29,2022-07-29,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,18,9,29,2022-07-29,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2,18,9,29,2022-07-29,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3,18,10,29,2022-07-29,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,4,18,10,29,2022-07-29,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [37]:
# разобъём трайн на две выборки в качестве val выбираем ноябрь- декабрь 
limit = datetime.datetime.strptime('2022-11-01', '%Y-%m-%d').date()
train_train = train_dum[train['date']<limit]
train_val = train_dum[train['date']>=limit]
# выделяем X y
y_tr = train_train['user_id']
y_val = train_val['user_id']
X_tr = train_train.drop(['row_id', 'user_id', 'date'], axis = 1)
X_val = train_val.drop(['row_id', 'user_id', 'date'], axis = 1)
X_tr.iloc[:5,:7]

   min  day  gate_id_-1  gate_id_0  gate_id_1  gate_id_3  gate_id_4
0    8   29       False      False      False      False      False
1    9   29       False      False      False      False      False
2    9   29       False      False      False      False      False
3   10   29       False      False      False      False      False
4   10   29       False      False      False      False      False

In [48]:
# Самый точный оптимизатор-решатель (при max_iter=100, random_state=1)  saga
scaler = StandardScaler()

X_tr = scaler.fit_transform(X_tr)
X_val = scaler.transform(X_val)

solvers = [ 'lbfgs', 'liblinear' , 'newton-cg', 'newton-cholesky' , 'sag', 'saga']
for solver in solvers:
    print('\nsolver  ', solver)
    clf = LogisticRegression(random_state=1, max_iter=100, solver=solver)
    clf.fit(X_tr, y_tr)
    print(f'\tval accuracy {accuracy_score(y_val, clf.predict(X_val ))}')

solver   lbfgs
	val accuracy 0.0930363159865219

solver   liblinear
	val accuracy 0.09481467615125422

solver   newton-cg
	val accuracy 0.09247472856608012

solver   newton-cholesky
	val accuracy 0.0943466866342194

solver   sag
	val accuracy 0.0950954698614751

solver   saga
	val accuracy 0.095376263571696

### Q7. Отметьте все правильные ответы для регрессии из Q6 и оптимизатора saga. 10 баллов

In [39]:
#random_state=2 лучше, чем random_state=1 для качества на обучающей выборке   нет
clf = LogisticRegression(random_state=1, max_iter=100, solver='saga')
clf.fit(X_tr, y_tr)
print(f'\t 1  accuracy {accuracy_score(y_tr, clf.predict(X_tr ))}')

clf = LogisticRegression(random_state=2, max_iter=100, solver='saga')
clf.fit(X_tr, y_tr)
print(f'\t 2 accuracy {accuracy_score(y_tr, clf.predict(X_tr ))}')

	 1  accuracy 0.1690765446821197
	 2 accuracy 0.16930014161138854

### Q8. Отметьте все правильные ответы для регрессии из Q6 и оптимизатора saga.

In [40]:
# Качество будет лучше на обучающей выборке, если уменьшить параметр C до 0.6 -  да разница в 3 знаке
clf = LogisticRegression(random_state=1, max_iter=100, solver='saga' )
clf.fit(X_tr, y_tr)
print(f'\t default  accuracy {accuracy_score(y_tr, clf.predict(X_tr ))}')

clf = LogisticRegression(random_state=1, max_iter=100, solver='saga', C=0.6)
clf.fit(X_tr, y_tr)
print(f'\t C = 0.6 accuracy {accuracy_score(y_tr, clf.predict(X_tr ))}')

	 default  accuracy 0.1690765446821197
	 C = 0.6 accuracy 0.16862935082358202

In [55]:
# class_weight='balanced' улучшает качество на обучающей выборке - нет
clf = LogisticRegression(random_state=1, max_iter=100, class_weight='balanced')
clf.fit(X_tr, y_tr)
print(f'\t  class_weight="balanced" accuracy {accuracy_score(y_tr, clf.predict(X_tr ))}')

	  class_weight="balanced" accuracy 0.12987254975031676

In [56]:
# max_iter=200 ухудшает качество на валидационной выборке да
clf = LogisticRegression(random_state=1, max_iter=100)
clf.fit(X_tr, y_tr)
print(f'\t  def val accuracy {accuracy_score(y_val, clf.predict(X_val ))}')
clf = LogisticRegression(random_state=1,  max_iter=200)
clf.fit(X_tr, y_tr)
print(f'\t  max_iter=200 val accuracy {accuracy_score(y_val, clf.predict(X_val ))}')

	  def val accuracy 0.0930363159865219
	  max_iter=200 val accuracy 0.09256832646948708

In [57]:
# max_iter=80 ухудшает качество на обучающей выборке - нет

clf = LogisticRegression(random_state=1,  max_iter=80)
clf.fit(X_tr, y_tr)
print(f'\t  max_iter=80 tr accuracy {accuracy_score(y_tr, clf.predict(X_tr ))}')

	  max_iter=80 tr accuracy 0.17761049414921368

###  Q9.Улучшится ли качество модели на валидационной выборке, если в качестве признаков использовать предыдущее наблюдение?
Оцените для регрессии из Q6 и оптимизатора saga (random_state = 1). 10 баллов

In [39]:
train['previous_gate'] = train['gate_id'].shift(1)
train.fillna(-2, inplace=True)
train['previous_gate']=train['previous_gate'].astype(int)
train

,row_id,user_id,gate_id,hour,min,day,month,dayofweek,date,previous_gate
0,0,18,7,9,8,29,7,4,2022-07-29,-2
1,1,18,9,9,9,29,7,4,2022-07-29,7
2,2,18,9,9,9,29,7,4,2022-07-29,9
3,3,18,5,9,10,29,7,4,2022-07-29,9
4,4,18,5,9,10,29,7,4,2022-07-29,5
...,...,...,...,...,...,...,...,...,...,...
37513,37513,6,11,20,38,31,12,5,2022-12-31,10
37514,37514,6,6,20,39,31,12,5,2022-12-31,11
37515,37515,6,6,20,39,31,12,5,2022-12-31,6
37516,37516,6,9,20,39,31,12,5,2022-12-31,6
37517,37517,6,9,20,39,31,12,5,2022-12-31,9

In [40]:
train_dum=pd.get_dummies(train, columns=['gate_id','dayofweek', 'month', 'hour', 'previous_gate'], drop_first=False)
print (train_dum.columns)
train_dum.head()

Index(['row_id', 'user_id', 'min', 'day', 'date', 'gate_id_-1', 'gate_id_0',
       'gate_id_1', 'gate_id_3', 'gate_id_4', 'gate_id_5', 'gate_id_6',
       'gate_id_7', 'gate_id_8', 'gate_id_9', 'gate_id_10', 'gate_id_11',
       'gate_id_12', 'gate_id_13', 'gate_id_14', 'gate_id_15', 'gate_id_16',
       'dayofweek_0', 'dayofweek_1', 'dayofweek_2', 'dayofweek_3',
       'dayofweek_4', 'dayofweek_5', 'dayofweek_6', 'month_7', 'month_8',
       'month_9', 'month_10', 'month_11', 'month_12', 'hour_6', 'hour_7',
       'hour_8', 'hour_9', 'hour_10', 'hour_11', 'hour_12', 'hour_13',
       'hour_14', 'hour_15', 'hour_16', 'hour_17', 'hour_18', 'hour_19',
       'hour_20', 'hour_21', 'hour_22', 'hour_23', 'previous_gate_-2',
       'previous_gate_-1', 'previous_gate_0', 'previous_gate_1',
       'previous_gate_3', 'previous_gate_4', 'previous_gate_5',
       'previous_gate_6', 'previous_gate_7', 'previous_gate_8',
       'previous_gate_9', 'previous_gate_10', 'previous_gate_11',
       'previous_gate_12', 'previous_gate_13', 'previous_gate_14',
       'previous_gate_15', 'previous_gate_16'],
      dtype='object')

,row_id,user_id,min,day,date,gate_id_-1,gate_id_0,gate_id_1,gate_id_3,gate_id_4,...,previous_gate_7,previous_gate_8,previous_gate_9,previous_gate_10,previous_gate_11,previous_gate_12,previous_gate_13,previous_gate_14,previous_gate_15,previous_gate_16
0,0,18,8,29,2022-07-29,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,18,9,29,2022-07-29,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
2,2,18,9,29,2022-07-29,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
3,3,18,10,29,2022-07-29,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4,4,18,10,29,2022-07-29,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [42]:
# разобъём трайн на две выборки в качестве val выбираем ноябрь- декабрь 
limit = datetime.datetime.strptime('2022-11-01', '%Y-%m-%d').date()
train_train = train_dum[train['date']<limit]
train_val = train_dum[train['date']>=limit]
# выделяем X y
y_tr = train_train['user_id']
y_val = train_val['user_id']
X_tr = train_train.drop(['row_id', 'user_id', 'date'], axis = 1)
X_val = train_val.drop(['row_id', 'user_id', 'date'], axis = 1)
X_tr.iloc[:5,:7]

   min  day  gate_id_-1  gate_id_0  gate_id_1  gate_id_3  gate_id_4
0    8   29       False      False      False      False      False
1    9   29       False      False      False      False      False
2    9   29       False      False      False      False      False
3   10   29       False      False      False      False      False
4   10   29       False      False      False      False      False

In [43]:
scaler = StandardScaler()

X_tr = scaler.fit_transform(X_tr)
X_val = scaler.transform(X_val)

clf = LogisticRegression(random_state=1, solver='saga')
clf.fit(X_tr, y_tr)
print(f'\t val  accuracy {accuracy_score(y_val, clf.predict(X_val ))}')

	 val  accuracy 0.10782478472482217

## Q10. Проверьте, помогает ли качеству регрессии из Q6 и оптимизатора saga больше данных
оцените разницу между 60%, 80% и 100% от train.

In [46]:
train_dum=pd.get_dummies(train, columns=['gate_id','dayofweek', 'month', 'hour'], drop_first=False)
print (train_dum.columns)
train_dum.head()

Index(['row_id', 'user_id', 'min', 'day', 'date', 'previous_gate',
       'gate_id_-1', 'gate_id_0', 'gate_id_1', 'gate_id_3', 'gate_id_4',
       'gate_id_5', 'gate_id_6', 'gate_id_7', 'gate_id_8', 'gate_id_9',
       'gate_id_10', 'gate_id_11', 'gate_id_12', 'gate_id_13', 'gate_id_14',
       'gate_id_15', 'gate_id_16', 'dayofweek_0', 'dayofweek_1', 'dayofweek_2',
       'dayofweek_3', 'dayofweek_4', 'dayofweek_5', 'dayofweek_6', 'month_7',
       'month_8', 'month_9', 'month_10', 'month_11', 'month_12', 'hour_6',
       'hour_7', 'hour_8', 'hour_9', 'hour_10', 'hour_11', 'hour_12',
       'hour_13', 'hour_14', 'hour_15', 'hour_16', 'hour_17', 'hour_18',
       'hour_19', 'hour_20', 'hour_21', 'hour_22', 'hour_23'],
      dtype='object')

,row_id,user_id,min,day,date,previous_gate,gate_id_-1,gate_id_0,gate_id_1,gate_id_3,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,0,18,8,29,2022-07-29,-2,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,18,9,29,2022-07-29,7,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2,18,9,29,2022-07-29,9,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3,18,10,29,2022-07-29,9,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,4,18,10,29,2022-07-29,5,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [47]:
# разобъём трайн на две выборки в качестве val ввыбираем ноябрь- декабрь 
limit = datetime.datetime.strptime('2022-11-01', '%Y-%m-%d').date()
train_train = train_dum[train['date']<limit]
train_val = train_dum[train['date']>=limit]
# выделяем X y
y_tr = train_train['user_id']
y_val = train_val['user_id']
X_tr = train_train.drop(['row_id', 'user_id', 'date'], axis = 1)
X_val = train_val.drop(['row_id', 'user_id', 'date'], axis = 1)


scaler = StandardScaler()

X_tr = scaler.fit_transform(X_tr)
X_val = scaler.transform(X_val)

In [50]:
for percent in [0.6, 0.8 ,1]:    
    ind = np.random.choice(X_tr.shape[0], int(X_tr.shape[0]*percent), replace=False)
    X_tr_new = X_tr[ind,:]
    y_tr_new = y_tr[ind]
    clf = LogisticRegression(random_state=1, solver='saga')
    clf.fit(X_tr_new, y_tr_new)
    print("\npercent ", percent)
    print(f'\t train  accuracy {accuracy_score(y_tr_new, clf.predict(X_tr_new ))}')
    print(f'\t val  accuracy {accuracy_score(y_val, clf.predict(X_val ))}')

percent  0.6
	 train  accuracy 0.1726086956521739
	 val  accuracy 0.0971546237364283

percent  0.8
	 train  accuracy 0.17310290212884893
	 val  accuracy 0.09397229502059154

percent  1
	 train  accuracy 0.17541179101140345
	 val  accuracy 0.09397229502059154